amqp==1.4.8
anyjson==0.3.3
argh==0.26.1
argparse==1.2.1
behave==1.2.5
billiard==3.3.0.22
boto==2.38.0
celery==3.1.19
celery-haystack==0.9
certifi==2015.11.20.1
decorator==4.0.6
Django==1.9
django-appconf==1.0.1
django-autoslug==1.9.3
django-behave==0.1.5
django-bootstrap-pagination==1.0.7
django-celery==3.1.17
django-celery-email==1.1.3
django-celery-transactions==0.3.6
django-crispy-forms==1.5.2
django-debug-toolbar==1.4
django-extensions==1.6.1
django-flatblocks==0.9.2
django-haystack==2.4.1
django-nose==1.4.2
django-registration==2.0.3
# TODO: replace django-social-auth==0.7.28 with python-social-auth
django-storages==1.1.8
django-supervisor==0.3.4
django-taggit==0.17.6
django-uuidfield==0.5.0
dj-database-url==0.3.0
-e git+https://github.com/deschler/django-modeltranslation.git#egg=django-modeltranslation
-e git+https://github.com/daonb/django-chosen.git@1bc89ebddf2bbde1ce0d752e2d498f26a19e2f27#egg=django_chosen-master
-e git+https://github.com/daonb/django-entities@401733f4f5cff99bb73d1571235166185ad6e6f6#egg=django_entities-master
-e git+https://github.com/jezdez/django-avatar.git@55c27f7f736b7fba78245c8022b56a2ebdb04b0d#egg=django_avatar-master
-e git+https://github.com/jbsag/django-activity-stream.git#egg=django_activity_stream-master
-e hg+https://bitbucket.org/fabian/django-taggit-autosuggest#egg=django_taggit_autosuggest-dev
elasticsearch==1.9.0
enum34==1.1.2
facepy==1.0.7
funcsigs==0.4
gunicorn==19.4.1
honcho==0.6.6
httplib2==0.9.2
ipython==4.0.1
ipython-genutils==0.1.0
kombu==3.0.32
meld3==1.0.2
mock==1.3.0
nose==1.3.7
oauth2==1.9.0.post1
parse==1.6.6
parse-type==0.3.4
path.py==8.1.2
pathtools==0.1.2
pbr==1.8.1
pexpect==4.0.1
pickleshare==0.5
Pillow==3.0.0
ptyprocess==0.5
pyelasticsearch==1.4
python-memcached==1.57
python-openid==2.2.5
python-social-auth==0.2.13
pytz==2015.7
PyYAML==3.11
requests==2.9.1
selenium==2.48.0
simplegeneric==0.8.1
simplejson==3.8.1
six==1.10.0
sqlparse==0.1.18
supervisor==3.2.0
traitlets==4.0.0
unicode-slugify==0.1.3
Unidecode==0.04.18
Unipath==1.1
urllib3==1.13.1
watchdog==0.8.3
Whoosh==2.7.0
wsgiref==0.1.2
yolk==0.4.3
