{% extends "base.html" %}
{% block search %}
{% endblock %}
{% block content %}
{% load i18n avatar_tags %}
<h2>{% trans 'Candidates in list'%} {{candidatelist}} -
{{candidatelist.ballot}} / {{candidatelist.entity}}</h2>
<div class="row">
    {% if candidatelist.img_url %}
    <p>{% trans 'Image: ' %} <img src="{{candidatelist.img_url}}" alt="{{candidatelist}}"></p>
    {% endif %}
    {% if candidatelist.homepage_url %}
    <p><a href="{{candidatelist.homepage_url}}">{% trans 'Homepage' %}</a></p>
    {% endif %}
    {% if candidatelist.youtube_user %}
    <p><a href="http://youtube.com/user/{{candidatelist.youtube_user}}">Youtube</a></p>
    {% endif %}
    {% if candidatelist.wikipedia_page %}
    <p><a href="{{candidatelist.wikipedia_page}}">Wikipedia</a></p>
    {% endif %}
    {% if candidatelist.twitter_account %}
    <p><a href="http://twitter.com/{{candidatelist.twitter_account}}">Twitter</a></p>
    {% endif %}
    {% if candidatelist.facebook_url %}
    <p><a href="{{candidatelist.facebook_url}}">Facebook</a></p>
    {% endif %}
    {% if candidatelist.platform %}
    <p>{% trans 'Platform' %}: {{candidatelist.platform}} </p>
    {% endif %}
</div>
<div class="row">
  {% for candidate in candidatelist.candidates.all %}
      <div onclick="window.location.href='{{ candidate.get_absolute_url }}'"
      class="candidate-avatar">
        {% avatar candidate 75 %}
        <p>{{ candidate.get_full_name|default:candidate.username}}</p>
      </div>
  {% endfor %}
</div>
<p><a href="{% url 'candidate-create' candidatelist.id %}">{% trans "Add candidate" %}</a></p>
<p><a href="{% url 'candidatelist-edit' candidatelist.id %}">{% trans 'Edit list details' %}</a></p>
{% endblock %}
