{% extends "user/user_base.html" %}
{% load i18n avatar_tags %}{% load static from staticfiles %}
{% block extratitle %}{% trans "User Profile" %}{% endblock %}

{% block breadcrumbs %}
  <li class="active">{% trans "User Profile" %}</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span8">
    <div class="card card-main">
      <div class="spacer">
        <h1>{% trans "User Profile" %}</h1>
        <form action="." method="post">{% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-primary" type="submit" name="save" value="{% trans 'save' %}" />
        </form>
        <a href="{% url 'password_change' %}">{% trans 'Change password' %}</a>
        {% if candidate_list %}
          <br><a href="{% url 'candidatelist-edit' candidate_list.id %}">{% trans 'Edit list details' %} - {{candidate_list.name}}</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="span4">
    <aside class="dead-center sidebar">
      <ul>
      <h2>{% trans "Avatar" %}</h2>
        <li>
          <img src="{% avatar_url request.user 75 %}" class="avatar img-circle">
        </li>
        <li><a class="btn" href="{% url 'avatar_add' %}">{% trans "Change your avatar" %}</a></li>
      </ul>
    </aside>

    <aside class="sidebar">
      <h2>{% trans "Following" %}</h2>
      <ul>
      {% with hide_controls=True %}
        {% for question in profile.following %}
        <li>
        <!--TODO: add the ability to unfollow a question
        <a href="#" class="btn btn-danger btn-mini unfollow" id="unfollow-{{question.id}}">
          <i class="icon-remove-sign icon-white"></i></a>
        -->
        {% include "qa/_question.html" %}
          </li>
        {% empty %}
        <li>{% trans "none" %}</li>
        {% endfor %}
      {% endwith %}
      </ul>
    </aside>
  </div>
</div>

{% endblock %}

{% block extrascript %}
<script>
  $(document).ready( function() {
    $('.unfollow').click(function(evt){
      evt.stopPropagation()
      var id_parts = /unfollow-(.*)-(\d+)/.exec(this.id);
      var object_id = id_parts[2]
      var what = id_parts[1]
      jQuery.ajax({
        type: 'POST',
        url: '{% url 'user-follow-unfollow' %}',
        data: {what: what, id: object_id, verb:'unfollow'},
        context: $('#following-' + what + '-' + object_id),
        success: function () {
          $(this).parent().remove();
        },
      })
      return (false);
    })
  })
</script>
{% endblock %}
