{% extends "base.html" %}
{% load i18n avatar_tags %}{% load static from staticfiles %}
{% block extratitle %}{% trans "User Profile" %}{% endblock %}

{% block breadcrumbs %}
  <li class="active">{% trans "User Profile" %}</li>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span8">
    <div class="card card-main">
      <div class="spacer">
        <h1>{% trans "User Profile" %}</h1>
        {% if not form.valid_email %}
          {% if not form.has_email %}
            <div class="alert alert-error">
              {% trans "You do not have permissions to edit anything. In order to be able to edit, you must first provide a valid email address." %}
            </div>
          {% else %}
            <div class="alert alert-block">
              {% trans "You do not have permissions to edit anything. In order to be able to edit, you must provide a valid email address, and validate it" %}
              <form action="{% url 'send-validation-email' %}" method="post">{% csrf_token %}
                <input type="submit" name="send validation email" value="{% trans 'send validation email' %}">
              </form>
            </div>
          {% endif %}
        {% else %}
          <div class="alert alert-info">{% trans 'Your email has been validated, so you can edit stuff!' %}</div>
        {% endif %}
        <form action="." method="post">{% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-primary" type="submit" name="save" value="{% trans 'save' %}" />
        </form>
      </div>
    </div>
  </div>
  <div class="span4">
    <aside class="dead-center sidebar">
      <ul>
      <h2>{% trans "Avatar" %}</h2>
        <li>
          <img src="{% avatar_url request.user 75 %}" class="avatar img-circle">
        </li>
        <li><a class="btn" href="{% url 'avatar_add' %}">{% trans "Change your avatar" %}</a></li>
      </ul>
    </aside>

    <aside class="sidebar">
      <h2>{% trans "Following" %}</h2>
      <ul>
      {% for user in profile.following %}
        <li>
          <a href="#" class="btn btn-danger btn-mini unfollow" id="unfollow-user-{{u.id}}">
          <i class="icon-remove-sign icon-white"></i></a>
            <a id="following-user-{{u.id}}" href="{{u.get_absolute_url}}">{{u}}</a>
          </li>
      {% empty %}
        <li>{% trans "none" %}</li>
      {% endfor %}
      </ul>
    </aside>
  </div>
</div>

{% endblock %}

{% block extrascript %}
<script>
  $(document).ready( function() {
    $('.unfollow').click(function(evt){
      evt.stopPropagation()
      var id_parts = /unfollow-(.*)-(\d+)/.exec(this.id);
      var object_id = id_parts[2]
      var what = id_parts[1]
      jQuery.ajax({
        type: 'POST',
        url: '{% url 'user-follow-unfollow' %}',
        data: {what: what, id: object_id, verb:'unfollow'},
        context: $('#following-' + what + '-' + object_id),
        success: function () {
          $(this).parent().remove();
        },
      })
      return (false);
    })
  })
</script>
{% endblock %}
