{% extends "base.html" %}
{% load i18n avatar_tags links_tags %}

{% block pageTitle %}{{ friend.get_full_name }}{% endblock %}
{% block extrahead %}
  <meta property="og:image" content='{% avatar_url friend.user %}'>
{% endblock %}

{% block content %}
<div class="page-header row">
  <div class="offset2 span8"><center>
    <div class="dead-center">
      {% avatar friend.user %}
      <h1 style="display:inline; padding-right:0.5em;">
        {{ friend.get_full_name}}
          <a href="{% url 'user_feed' friend.user.id %}" title="{% trans 'Subscribe' %}" rel="tooltip">
            <img src="{{STATIC_URL}}img/rss.png" width="25" />
          </a>
      </h1>
      {% if friend.is_candidate %}
      <h2>
        {% if friend.gender == 'F' %}
          {% trans 'Female candidate' %}
        {% else %}
          {% trans 'Male candidate' %}
        {% endif %}

        {% if candidate_list %}
          {% trans 'in list' %} <a href="{% url 'candidate-list' candidate_list.id %}">{{candidate_list}}</a> 
        {% endif %}
        
        {% if friend.is_mayor_candidate %}
          {% trans 'for mayorship of' %} 
        {% else %}
          {% trans 'for the council of' %} 
        {% endif %}
        <a href="{% url "local_home" friend.locality.id %}">
          {{friend.locality}}
        </a>
      </h2>

      {% elif friend.locality %}
      <h2>
        <a href="{% url 'local_home' friend.locality.id %}" alt="{{friend.locality}}">{{friend.locality}}</a>
      </h2>
      {% endif %}
      <ul class="links unstyled">
        {% object_links friend.user %}
      </ul>
      {% if friend.bio %}
      <div class="well" style="text-align:right; font-size: 120%;">
        {{ friend.bio|urlize_target_blank|linebreaks }}
      </div>
      {% endif %}
      <div style="text-align:right;">
      {% include "user/_answers.html" %}
      {% for question in questions %}
        {% if forloop.first %}
          <h3 style="margin-top: -10px; margin-bottom: -10px;">
            {% trans "Questions by" %} {{friend.get_full_name}}
          </h3>
        {% endif %}
        <div class="question-summary narrow" id="question-summary-{{ question.id }}">
          <h4>
            <a href="{{ question.get_absolute_url }}" class="question-hyperlink"
              title="{{ question.subject }}">{{ question.subject }}</a>
          </h4>
          <div class="preview">
              <span class="too-long-toggle">{{ question.content|urlize_target_blank|linebreaks }}</span>
          </div>
        </div>
      {% endfor %}
  </div></center>
</div>
{% endblock %}
{% block extrascript %}
{% endblock %}
