{% extends "user/user_base.html" %}
{% load i18n avatar_tags links_tags %}
{% block pageTitle %}{{ friend.get_full_name }}{% endblock %}

{% block breadcrumbs %}
  <li class="active">{{ flatpage.title }}</li>
{% endblock %}

{% block content %}
<div class="page-header row">
  <div class="offset3 span6"><center>
    <div class="dead-center">
      {% avatar friend.user %}
      <h1 style="display:inline; padding-right:0.5em;">
        {{ friend.get_full_name}}
          <a href="{% url 'user_feed' friend.user.id %}" title="{% trans 'Subscribe' %}" rel="tooltip">
            <img src="{{STATIC_URL}}img/rss.png" width="25" />
          </a>
      </h1>
      {% if friend.is_candidate %}
      <h2>
        {% if friend.gender == 'M' %}
        {% trans 'Male candidate' %}
        {% else %}
        {% trans 'Female candidate' %}
        {% endif %}
        {% trans 'in list' %} {{candidate_list}} 
        {% if friend.is_mayor_candidate %}
        {% trans 'for mayorship of' %} 
        {% else %}
        {% trans 'for the council of' %} 
        {% endif %}
        {{friend.locality}}
      </h2>
      {% elif friend.locality %}
      <h2>
        <a href="{% url 'local_home' friend.locality.id %}" alt="{{friend.locality}}">{{friend.locality}}</a>
      </h2>
      {% endif %}
      <ul class="links unstyled">
        {% object_links friend %}
      </ul>
      {% if friend.bio %}
      <p class="well" style="text-align:right; font-size: 120%;">
      {{ friend.bio }}
      </p>
      {% endif %}
  </div></center>
  </div>
</div>
<div class="row">
    <div class="offset1 span5">
      <div style="text-align:right;">
        {% for answer in answers %}
        {% if forloop.first %}
          <h3>
              {% trans "Answers" %}
          </h3>
        {% endif %}
        <div class="question-summary narrow" id="question-summary-{{ question.id }}">
          <div class="summary">
            <h3>
                <a href="{{ answer.question.get_absolute_url }}" class="question-hyperlink"
                title="{{ question.subject }}">{{ answer.question.subject }}</a>
            </h3>
                <span class="too-long-toggle">{{ answer.question.content }}</span>
            <div class="well">
                <a name="{{answer.id}}"></a>
                <strong style="font-size: 16px;">
                    <span class="too-long-toggle">{{ answer.content|linebreaksbr }}</span>
                </strong>
                <span title="{{ question.created_at }}" class="relativetime">
                    <br />
                    <a href="#{{answer.id}}">&#9875;
                      {% trans "before" %} {{ answer.updated_at|timesince }}
                    </a>
                </span>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="span5">
      {% for question in questions %}
        {% if forloop.first %}
          <h3 style="margin-top: -10px; margin-bottom: -10px;">
            {% trans "Questions posted" %}
          </h3>
        {% endif %}
        <div class="question-summary narrow" id="question-summary-{{ question.id }}">
          <h4>
            <a href="{{ question.get_absolute_url }}" class="question-hyperlink"
              title="{{ question.subject }}">{{ question.subject }}</a>
          </h4>
          <div class="preview">
              <span class="too-long-toggle">{{ question.content }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
</div>
{% endblock %}
{% block extrascript %}
{% endblock %}
