{% extends "base.html" %}
{% load flatblock_tags %}
{% load i18n %}
{% load cache %}

{% block toolbar %}
<p class="pull-left" style="padding-right:1em; padding-top:15px; font-weight: bold;">
  {% if entity %}
    <a href="{% url 'local_home' entity.id %}">{{entity}}</a>
  {% endif %}
</p>
<p class="pull-left" style="padding-right:2em; padding-top:15px; font-weight: bold;">ביחד מחסלים את הרוב הדומם</p>
{% endblock %}
{% block content %}
<div class="row">
  <div class="span6">
    {% flatblock 'home.welcome' 3600 %}
    <div class="twitter">
      <a class="twitter-timeline" href="https://twitter.com/search?q=%23%D7%91%D7%97%D7%99%D7%A8%D7%95%D7%AA" data-widget-id="392339973308833792">Tweets about "#××××¨××ª"</a>
      <script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

// get the iframe
var iframe = document.getElementById('twitter-widget-0');

var checkIframe = setInterval(function() {

if (iframe != null) {
    clearInterval(checkIframe);

    var innerDoc = iframe.contentDocument || iframe.contentWindow.document;

    // check if all tweets loaded
  var ready = innerDoc.getElementsByClassName('load-more');

  var checkLoaded = setInterval(function() {
    if (ready.length)
    { 
      clearInterval(checkLoaded);

      // hide the scroll
      var scrolling =  innerDoc.getElementsByClassName('stream');
      scrolling[0].style.overflow = "hidden";

      var tweets = innerDoc.getElementsByClassName('tweet');

      // leave top 5 displayed
        for (var i = 10; i <= tweets.length - 1 ; i++)
      {
        tweets[i].style.display = "none";
      }

      var n = 0;

      // push up every 4 secs
      var runfeed = setInterval(function() {

        tweets[n%(tweets.length - 1)].style.display = "none";
        tweets[(n+10)%(tweets.length - 1)].style.display = "block";

        n++;
      },4000); 
    }
    ready = innerDoc.getElementsByClassName('load-more');
  },300);		
}
else{
  iframe = document.getElementById('twitter-widget-0');
}
}, 2000); // check every 2s
      </script>
    </div>
    <div class="modal fade" id="add_answer_modal" style="width:680px; height:560px;">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>אז איפה מצביעים?</h3>
      </div>
      <div class="modal-body">
        <iframe width="640" height="500" src="https://kalpi.elections.gov.il" style="overflow:hidden"></iframe>
      </div>
    </div>
  </div>
  <div class="span6" style="text-align:center;">
    <div class="row">
      {# move the entity_from here somehow for simpler interface #}
    </div>
    <div class="row">
      <div class="span3">
        <h4>{{ questions }} {% trans "questions" %}</h4>
        <img src="{{ STATIC_URL }}img/question_comix.png" />
      </div>
      <div class="span3" style="text-align: center;">
        <h4>{{ answers }} {% trans "answers" %}</h4>
        <img src="{{ STATIC_URL }}img/answer_comix.png" />
      </div>
    </div>
    <div class="row" style="margin-top:2em;">
      {% cache 86400 homepage_form  %}
        {% with entity=False %}
      {{ entity_form }}
          {% include "_search.html" %}
        {% endwith %}
      {% endcache %}
    </div>
    <div class="row">
  <h3><a href="http://statigr.am/tag/%D7%91%D7%97%D7%99%D7%A8%D7%95%D7%AA/" target="_blank">תמונות מאינסטגרם של #בחירות</a></h3>
  <iframe src="http://www.intagme.com/in/?h=15HXl9eZ16jXldeqfGlufDE1MHwzfDR8fHllc3w1fHVuZGVmaW5lZA==" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:495px; height: 660px" ></iframe>
    </div>
  </div>
</div>
{% endblock %}
