{% extends "base.html" %}
{% load flatblocks %}
{% load staticfiles %}
{% load i18n %}
{% load cache %}

{% block toolbar %}
<p class="pull-left" style="padding-right:1em; padding-top:15px; font-weight: bold;">
  {% if entity %}
    <a href="{% url 'entity_home' entity.id %}">{{entity}}</a>
  {% endif %}
</p>
<p class="pull-left" style="padding-right:2em; padding-top:15px; font-weight: bold;">ביחד מחסלים את הרוב הדומם</p>
{% endblock %}
{% block content %}
<div class="row">
  <div class="span6">
    {% flatblock 'home.welcome' 3600 %}
    <div class="twitter">
    </div>
    <div class="modal fade" id="add_answer_modal" style="width:680px; height:560px;">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>אז איפה מצביעים?</h3>
      </div>
    </div>
  </div>
  <div class="span6" style="text-align:center;">
    <div class="row">
      {# move the entity_from here somehow for simpler interface #}
    </div>
    <div class="row">
      <div class="span3">
        <h4>{{ questions }} {% trans "questions" %}</h4>
        <img src="{% static "img/question_comix.png" %}"/>
      </div>
      <div class="span3" style="text-align: center;">
        <h4>{{ answers }} {% trans "answers" %}</h4>
        <img src="{% static "img/answer_comix.png" %}" />
      </div>
    </div>
    <div class="row" style="margin-top:2em;">
      {% cache 86400 homepage_form  %}
        {% with entity=False %}
      {{ entity_form }}
          {% include "_search.html" %}
        {% endwith %}
      {% endcache %}
    </div>
  </div>
  <div class="span12">
    <div class="row">
      <h3><a href="http://statigr.am/tag/%D7%91%D7%97%D7%99%D7%A8%D7%95%D7%AA/" target="_blank">
          תמונות מאינסטגרם של #שאלה</a>
     </h3>
     <!-- www.intagme.com -->
     <iframe src="http://www.intagme.com/in/?h=16nXkNec15R8aW58MTUwfDZ8NHx8eWVzfDV8dW5kZWZpbmVk" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:990px; height: 660px" ></iframe>
    </div>
  </div>
</div>
{% endblock %}
