{% load i18n avatar_tags links_tags %}

{% with author_url=answer.author.get_absolute_url list=answer.author.candidate_set.all.0.candidate_list %}
<div id="answer-{{answer.id}}" class="answer" style="min-height: 35px; display: table">
  {% if answer.is_deleted %}
    <div class="alert alert-error">
      {% trans "This answer is deleted" %}
    </div>
  {% endif %}
  <div class="avatar-container" style="float:right; padding:6px 10px; display: table-cell; vertical-align: middle;">
    <a href="{{ author_url }}">
      {% avatar answer.author %}
    </a>
  </div>
  <div style="display: table-cell; vertical-align: middle;">
    <div class="answer-text">
      <div>
        <span class="preview">
          {{ answer.content|urlize_target_blank|linebreaks }}
        </span>
        <div class="pull-right">
        <a href="{{ author_url }}" title="{{answer.author.get_full_name}}" rel="tooltip" class="answer-user owner">
          {{answer.author.get_full_name}}
        </a><br/>
        {% if list %}
        <a href="{% url "candidate-list" list.id %}" title="{{ list }}" rel="tooltip"
           class="answer-user-list owner">
          {{list}}
        </a>&nbsp;
        {% endif %}
        </div>
        {% if my_answer_id == answer.id %}
        <a id="edit-answer-{{answer.id}}" href="#add_answer_modal" class="edit" rel="tooltip" title="{% trans 'Edit' %}" data-toggle="modal">&#9998; {% trans 'Edit' %}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endwith %}
