{% load i18n avatar_tags qa_tags links_tags %}
{% load url from future %}
<!-- Let's add the upvote and follow on hover -->
<div class="question-summary narrow" id="question-summary-{{ question.id }}"
     question-id="{{ question.id }}">
    {% if question.is_deleted %}
      <div class="alert alert-error">
        {% trans "This question is deleted" %}
      </div>
    {% endif %}
    <div class="avatar-container" style="padding-top:15px;">
      <a href="{{ question.author.get_absolute_url }}" rel="tooltip" title="{{question.author.get_full_name}}">
        {% avatar question.author %}
      </a>
    </div>
    <div onclick="window.location.href='{{ question.get_absolute_url }}'" class="cp">
      <div class="votes-{{question.id}}"
           {% if question.rating <= 1 %}style="visibility:hidden"{% endif %}>
        <div class="mini-counts" id="votes-count-{{question.id}}">{{ question.rating }}</div>
        <div>{% trans "votes" %}</div>
      </div>
    </div>
    {% if can_answer %}
    <div class="cp">
      <a class="btn btn-success btn-large" href="#add_answer_modal" data-toggle="modal">
        {% if my_answer_form.content.value %}
          {% trans "Change Your Answer" %}
        {% else %}
          {% trans "Answer the Question" %}
        {% endif %}
      </a>
    </div>
    {% endif %}
    {% if not hide_controls %}
    <div class="btn-group cp">
      {% if user == question.author and not answers %}
      <a class="edit-question btn btn-action" href="{% url 'edit_question' question.unislug %}"
        title="{% trans "Edit question" %}">
        <i class="icon-edit"></i>
      </a>
      {% endif %}
      <a class="btn btn-primary upvote-question" id="upvote-question-{{ question.id }}"
         href="#" style="{% if question|can_downvote:user %}display: none{% endif %}"
         title="{% trans "I want an answer" %}">
        <i class="icon-thumbs-up"></i>
      </a>
      <a class="btn btn-warning downvote-question" id="downvote-question-{{ question.id }}"
         href="#" style="{% if not question|can_downvote:user %}display: none{% endif %}"
         title="{% trans "Undo support" %}">
        <i class="icon-thumbs-down"></i>
      </a>
      {% if question|can_delete:user %}
      <a class="btn btn-danger" href="#remove-question-{{ question.id }}" data-toggle="modal"
         title="{% trans "Delete question" %}">
         <i class="icon-trash"></i>
      </a>
      <div id="remove-question-{{ question.id }}" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;</button>
          <h3>{% trans "Confirm Question Removal" %}</h3>
        </div>
        <div class="modal-body">
          <blockquote>{{ question }}</blockquote>
          <p>{% trans "Are you sure you want to remove the question?" %}</p>
        </div>
        <div class="modal-footer">
          <a class="flag-question btn btn-primary" data-dismiss="modal" href="#">
              {% trans "Delete" %}
          </a>
        </div>
      </div>
      {% elif can_flag %}
      <a class="btn btn-danger" href="#flag-question-{{ question.id }}" data-toggle="modal"
         title="{% trans "Flag question" %}">
        <i class="icon-flag"></i>
      </a>
      <div id="flag-question-{{ question.id }}" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;</button>
          <h3>{% trans "Confirm Question Flagging" %}</h3>
        </div>
        <div class="modal-body">
          <blockquote>{{ question }}</blockquote>
          <p>{% trans "Are you sure you want to flag the question as inappropriate?" %}</p>
        </div>
        <div class="modal-footer">
          <a class="flag-question btn btn-primary" data-dismiss="modal" href="#">
              {% trans "Flag" %}
          </a>
        </div>
      </div>
      {% endif %}
    </div>
    {% endif %}
    <div class="summary">
      <h3>
        <a href="{{ question.author.get_absolute_url }}" rel="tooltip" class="owner" title="{{question.author.get_full_name}}">{{question.author.get_full_name|default:question.author.username}}</a>
        <a href="{{ question.get_absolute_url }}" class="question-hyperlink" title="{{ question.subject }}">{{ question.subject }}</a>
      </h3>
        {% if not questions %}
        <div class="preview">
            {{ question.content|urlize_target_blank|linebreaks}}
        </div>
        {% endif %}
        <div class="tags">
          {% for tag in question.tags.all %}
           {% if forloop.first %} <i class="icon-tags" title="{% trans "Tags"%}"></i> {% endif %}
            {% if entity %}
            <a href="{% url 'show_tags' question.entity.id tag.slug %}">{{tag}}</a>
            {% else %}
            <a href="{% url 'show_tags' tag.slug %}">{{tag}}</a>
            {% endif %}
          {% endfor %}
        </div>
        <div class="started">
            {% if not entity %}
              {% trans "from"%}
              <a href="{% url "local_home" question.entity.id %}">{{ question.entity }}</a>
            {% endif %}
        </div>
        {% if question.answers.count and show_responders %}       
        <div class="clearfix"></div>

        <div class="pull-right">
          <h4 class="pull-left" style="padding:0.5em 0 0px;">{% trans "Answers by" %}</h4>
          {% for answer in question.answers.all %}
          <div class="avatar-container" style="padding-top:1.9em;">
            <a href="{{ answer.author.get_absolute_url }}#{{answer.id}}" rel="tooltip" class="" title="{{answer.author.get_full_name}}">
              {% avatar answer.author %}{{answer.author.get_full_name}}
            </a>
          </div>
          {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
