{% load i18n avatar_tags %}
{% load url from future %}
<!-- Let's add the upvote and follow on hover -->
<div class="question-summary narrow" id="question-summary-{{ question.id }}">
    <div class="avatar-container" style="padding-top:15px;">
      <a href="{{ question.author.get_absolute_url }}" rel="tooltip" title="{{question.author.get_full_name}}">
        {% avatar question.author %}
      </a>
    </div>
    <div onclick="window.location.href='{{ question.get_absolute_url }}'" class="cp">
      <div class="votes" {% if question.rating <= 1 %} style="display:none" {% endif %}>
        <div class="mini-counts" id="votes-count-{{question.id}}">{{ question.rating }}</div>
          <div>{% trans "votes" %}</div>
      </div>
    </div>
    <div class="summary">
      <h3>
        <a href="{{ question.author.get_absolute_url }}" rel="tooltip" class="answer-user owner" title="{{question.author.get_full_name}}">{{question.author.get_full_name|default:question.author.username}}</a>
        :&nbsp;
        <a href="{{ question.get_absolute_url }}" class="question-hyperlink" title="{{ question.subject }}">{{ question.subject }}</a>
      </h3>
        <div class="preview">
            {{ question.content }}
        </div>
        <div class="tags">
          {% for tag in question.tags.all %}
           {% if forloop.first %} {% trans "Tags"%} :{% endif %}
            {% if entity %}
            <a href="{% url 'show_tags' question.entity.slug tag.slug %}">{{tag}}</a>
            {% else %}
            <a href="{% url 'show_tags' tag.slug %}">{{tag}}</a>
            {% endif %}
          {% endfor %}
        </div>
        <div class="started">
            <span title="{{ question.created_at }}" class="relativetime">{% trans "before" %} {{ question.created_at|timesince }}</span>
            {% if not entity %}
              {% trans "from"%}
              <a href="{% url "qna" question.entity.slug %}">{{ question.entity }}</a>
            {% endif %}
        </div>
        {% if question.answers.count and show_responders %}       
        <div class="clearfix"></div>

        <div class="pull-right">
          <h4 class="pull-left" style="padding:0.5em 0 0px;">{% trans "Answers by" %}</h4>
          {% for answer in question.answers.all %}
          <div class="avatar-container" style="padding-top:1.9em;">
            <a href="{{ answer.author.get_absolute_url }}" rel="tooltip" class="" title="{{answer.author.get_full_name}}">
              {% avatar answer.author %}{{answer.author.get_full_name}}
            </a>
          </div>
          {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
