{% extends "qa/qa_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load flatblock_tags %}

{% block pageTitle %}{% trans "Post question" %}{% endblock %}
{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery-autosuggest/css/autoSuggest.css"/>
{% endblock %}

{% block content %}
<div class="page-header">
  {% if not slug %}
    <h1>{% trans "What is your question, sire?" %}</h1>
    <p>{% url 'local_home' user.profile.locality.id as home %}
    {% trans 'before asking a new question, please check if it exists on the' %}
    <a href="{% url 'local_home' user.profile.locality.id %}">{% trans 'page of your locality' %}</a>.</p>
  {% else %}
    <h1>{% trans "Edit your question" %}</h1>
  {% endif %}
  {% if becoming_editor %}
    <blockquote>
      {% flatblock "ask_to_become_editor" 9000 %}
    </blockquote>
  {% endif %}
</div>

<form class="form-horizontal" method="POST">
  <div class="row post-question">
    {% csrf_token %}
    {{ form|crispy }}
    <div id="charsCounter"><span id="charsLeft"></span> {% trans 'characters left' %}</div>
  </div>
  <div class="row">
    <div class="offset2">
      <button type="submit" class="btn btn-primary">{% trans 'Publish' %}</button>
      <a class="cancel btn btn-action" href="
          {% if not slug %}
            {% url 'local_home' entity.id %}
          {% else %}
            {% url 'question_detail' entity.id slug %}
          {% endif %}
          "> {% trans "Cancel" %}
      </a>
    </div>
  </div>
</form>
{% endblock %}

{% block extrascript %}
{{ block.super }}
{% if max_length_q_subject %}
    <script>
	var $subject = $("#id_subject"),
	    $charsCounter = $("#charsCounter"),
	    $charsLeft = $("#charsLeft");

	$charsCounter.hide();
	$subject.on("keyup", function () {
	    var length = this.value.length;

	    if (length) $charsCounter.show();
	    else $charsCounter.hide();

	    $charsLeft.text({{ max_length_q_subject }} - length);
	});
    </script>
{% endif %}
<script src="{{ STATIC_URL }}jquery-autosuggest/js/jquery.autoSuggest.js"></script>
{% endblock %}

