{% extends "qa/qa_base.html" %}
{% load i18n avatar_tags %}
{% block pageTitle %}{{ question }}{% endblock %}
{% block extrahead %}
    {% get_current_language as LANGUAGE_CODE %}
    <meta property="og:type"            content="localshot:question" />
    <meta property="og:url"             content="http://{{site.domain}}{{ question.get_absolute_url }}" />
    <meta property="og:title"           content="{{ question.subject }}" />
    <!-- meta property="og:image"           content="{{ question.author.profile.avatar_uri }}" / -->
    <meta property="og:description"     content="{{ question.content }}" />
    <!-- TODO: Django returns 'he', FB excpects 'he_IL' -->
    <meta property="og:locale"          content="he_IL" />
    <meta property="localshot:entity"     content="{{ question.entity}}" />
    {% if fb_message %}
      <meta property="message"     content="{{ fb_message }}" />
    {% endif %}
    <style>
        .question-summary {
            border: 0 none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="span9">
                {% include "qa/_question.html" %}
	    <div class="row">
            <div class="offset1 answers">

                {% for answer in answers %}
                    {% include "qa/_answer.html" %}
                {% empty %}
                    <h5>{% trans "No Answers Yet" %}
                        <a href="{% url "atom_question_answers" question.id %}" title="{% trans 'Subscribe' %}"
                           rel="tooltip">
                            <!-- <img src="/static/img/social-icons/colour/rss.png" width="25" /> -->
                        </a>
                    </h5>
                {% endfor %}
            </div>
            </div>
            </div>
            <div class="supporters span3">
              {% for supporter in supporters %}
              <div class="supporter avatar-container">
                <a href="{{ supporter.get_absolute_url }}" rel="tooltip"
                   title="{{ supporter.get_full_name }}">
                  {% avatar supporter %}
                </a>
              </div>
              {% endfor %}
            </div>
        </div>
        <div class="row questions-wrapper">
            <div class="span3">

            </div>
        </div>
    </div>
    {% if my_answer_form %}
        <div class="modal fade" id="add_answer_modal">
            <div class="modal-header">
              <a class="close" data-dismiss="modal">&times;</a>
              <h3>{{ question.subject }}</h3>
            </div>
            <form class="form" method="post" action="{% url "post_answer" question.id %}">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ my_answer_form.as_p }}
                    <div id="charsCounter"><span id="charsLeft"></span> {% trans 'characters left' %}</div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="{% trans "Publish" %}"/>
                </div>
            </form>
        </div>
    {% endif %}
    <p>
      {% if answers %}
        <a href="{% url "atom_question_answers" question.id %}" title="{% trans 'feed' %}"
           rel="tooltip">
            <img src="{{ STATIC_URL }}img/rss.png" width="25"/>
        </a>
      {% endif %}
      &nbsp;
      <a href="{% url "local_home" question.entity.id %}">
        {% trans 'Back to' %}{{question.entity.name}}
      </a>
    </p>
{% endblock %}
{% if my_answer_id %}
    {% block extrascript %}

        {% if not question.is_deleted %}
          {% include "qa/_question_controls.js" %}
        {% endif %}
        <script>
            $(document).ready(function () {
                {% if question.is_deleted %}
                    var buttons = $(".btn");
                    buttons.attr('disabled', true);
                    buttons.removeAttr('data-toggle');
                    buttons.click(function (e) {
                        e.preventDefault();
                    });
                {% elif max_length_a_content %}
                      var $answerContent = $("#id_content"),
                              $charsCounter = $("#charsCounter"),
                              $charsLeft = $("#charsLeft");

                      $charsCounter.hide();
                      $answerContent.on("keyup", function () {
                          var length = this.value.length;

                          if (length) $charsCounter.show();
                          else $charsCounter.hide();

                          $charsLeft.text({{ max_length_a_content }} - length);
                      });
                {% endif %}
            });
        </script>
    {% endblock %}
{% endif %}
