{% extends "qa/qa_base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load flatblock_tags %}
{% load avatar_tags %}

{% block pageTitle %}{% trans "questions list" %}{% endblock %}

{% block homeNav %}class="active"{% endblock %}
{% block content %}
<blockquote>
  {% flatblock "welcome" 9000 %}
</blockquote>
<div class="page-header">
  <div class="container">
    <div class="row">
        <div class="span8">
          <h1>
            {{ entity }}
               {% if not current_tags %}
               <a href="{% url "atom_entity_questions" entity.slug %}" title="{% trans 'Subscribe' %}" rel="tooltip">
                 <img src="{{STATIC_URL}}img/rss.png" width="25" />
               </a>
               {% endif %}
          </h1>
          <div id="cbs_data">{#TODO: % trans "Loading CBS Data..." % #}</div>
        </div>
    </div>
  </div>
</div>
{% if not request.page or request.page == 1 %}
<div class="row">
  {% for candidate in candidates %}
    {% if forloop.first %}
      <h2>{% blocktrans with entity.name as place %}Candidates in {{place}} {% endblocktrans %}</h2>
    {% endif %}
      <div onclick="window.location.href='{{ candidate.get_absolute_url }}'"
      class="candidate-avatar">
        {% avatar candidate 75 %}
        <p>{{ candidate.get_full_name|default:candidate.username}}</p>
        {% if candidate.num_answers %}
        <p>{{ candidate.num_answers }} {% trans "answers" %}</p>
        {% endif %}
      </div>
  {% endfor %}
</div>
{% endif %}
{% if need_editors %}
<div>
<blockquote>
  {% flatblock "editors_needed" 9000 %}
</blockquote>
</div>
{% endif %}
<div class="row questions-wrapper">
  <div class="span9 questions">
    {% if current_tags %}
    <ul class="nav nav-pills">
      <li><h4>{% trans "In the tags:"%}</h4></li>
      {% with tags=current_tags %}
       {% include "_tags.html" %}
      {% endwith %}
    </ul>
    {% endif %}
    {% if questions.count > 3 or only_flagged %}
    <ul class="nav nav-tabs">
      <li {% if by_rating %}class="active"{% endif %}>
        <a href=".?order=rating">{% trans "Top Questions" %}</a>
      </li>
      <li {% if by_date %}class="active"{% endif %}>
        <a href=".?order=date">{% trans "Most Recent" %}</a>
      </li>
      {% if user.is_staff or user.profile.is_editor %}
        <li {% if only_flagged %}class="active"{% endif %}>
          <a href=".?filter=flagged">{% trans "Flagged Questions" %}</a>
      </li>
      {% endif %}
    </ul>
    {% endif %}

    {% autopaginate questions 20 %}
    {% for question in questions %}
        {% with show_responders=True %}
        {% include "qa/_question.html" %}
        {% endwith %}
    {% endfor %}
    {% paginate %}
  </div>
  <div class="span3 sidebar">
    {% if can_ask %}
    <div class="pull-right">
      <a id="post-question" class="btn btn-success btn-large" style="margin-top:0"
        href="{% url "post_question" user.profile.locality.slug %}">
        {% trans "Ask Question" %}
      </a>
    </div>
    {% endif %}
    <div class="module" id="questions-count">
        <div class="summarycount al">{{question_count}}</div>
        <p>{% trans "Questions asked" %}</p>
    </div>
    <h2>{% trans "Tags" %}</h2>
    <ul class="unstyled">
      {% include "_tags.html" %}
    </ul>
  </div>
</div>
{% endblock %}
  {% block extrascript %}
{% if not user.is_authenticated %}
    <script>
        // warn non registered users
        $("#post-question").click( function (){
          $("#messages").html('<div class="alert" class="info">' +
            '<button type="button" class="close" data-dismiss="alert">×</button>' +
            "{% trans 'Sorry but only connected users can post questions' %}" +
             '</div>');
          return false; 
        });
    </script>
{% endif %}
    <script>
        function display_cbs(json) {
          for(i = 0; i < json.feed.entry.length; i++){
              entry = json.feed.entry[i];
              if (entry.gsx$code.$t == "{{entity.code}}") {
                var h = "<p><strong>"+entry.gsx$totalpopulation.$t+"</strong>";
                    h+= "&nbsp;{% trans 'Total Population' %}</p>";
                    h+= "<p><strong>"+entry.gsx$socioeco.$t+"</strong>";
                    h+= "&nbsp;{% trans 'Socio Economic Grade' %}";
                    h+= "<p><strong>"+entry.gsx$numofcouncilman.$t+"</strong>";
                    h+= "&nbsp;{% trans 'Number of Councilman' %}";
                $('#cbs_data').html(h);
                return;
              }
            }
          }

    </script>
    <!-- get a btter performing source script src="http://spreadsheets.google.com/feeds/list/0AlrAe9zy7m-PdEczNE9ockdOaVVpaUZVZENiVjlRSlE/1/public/values?alt=json-in-script&amp;callback=display_cbs"></script> -->

  {% endblock %}
