{% extends "qa/qa_base.html" %}
{% load i18n %}
{% load cache %}
{% load pagination_tags %}
{% load flatblock_tags %}
{% load avatar_tags %}

{% block pageTitle %}{% trans "questions list" %}{% endblock %}
{% block extrahead %}
  <meta property='og:image' content='http:{{ STATIC_URL }}img/locality/{{ entity.code }}.jpg'>
{% endblock %}
{% block homeNav %}class="active"{% endblock %}
{% block content %}
{# {% cache 300 local_home entity.id request.page request.user.username %} #}
<div class="page-header">
  <div class="container">
    <div class="row collapse in" id='flatblock_row'>
      {% if need_editors %}
        <div data-toggle="collapse" data-target="#flatblock_row" style='float: left; margin: 10px;'>X</div>
        <div class="well flatblock" id='editors_needed'>
          {% flatblock "editors_needed" 9000 %}
        </div>
      {% elif not request.user.is_authenticated %}
        <div data-toggle="collapse" data-target="#flatblock_row" style='float: left; margin: 10px;'>X</div>
        <div class="well flatblock" id='welcome_message'>
          {% flatblock "welcome" 9000 %}
        </div>
      {% endif %}
    </div>
    <div class="row">

        <div class="span2"><img src="{{ STATIC_URL }}img/locality/{{ entity.code }}.jpg" alt="{{entity.name_he}}" width='140px' onerror="this.style.display='none'">
        </div>
        <div class="span10">
          <h1>
            {{ entity }}
               {% if not current_tags %}
               <a href="{% url "atom_entity_questions" entity.id %}" title="{% trans 'Subscribe' %}" rel="tooltip">
                 <img src="{{STATIC_URL}}img/rss.png" width="25" />
               </a>
               {% endif %}
          </h1>
          <div id="cbs_data"><!--
            {% if stats.totalpopulation %}-->
            <strong><span id="population"></span>{{stats.totalpopulation}}</strong>
            {% trans "Population" %}<!--
            {% endif %}
            {% if stats.numofcouncilman %}
            -->,<strong><span id="councilSize">{{stats.numofcouncilman}}</span></strong>
            {% trans "Council seats" %}<!--
            {% endif %}
            {% if stats.voting %}
            -->, <strong><span id="voting">{{stats.voting}}</span></strong>
            {% trans "Voting Percent" %}<!--
            {% endif %}
            {% if users_count %}
            -->, <strong>{{users_count}}</strong> {% trans "Registered users" %}<!--
            {% endif %}
            {% if questions.count %}
            -->, <strong>{{questions.count}}</strong> {% trans "Questions" %}<!--
            {% endif %}
            {% if answers_count %}
            -->, <strong>{{answers_count}}</strong> {% trans "Answers" %}<!--
            {% endif %}
            -->.
          </div>
          <button type="button" class="btn btn-large btn-info" data-toggle="collapse" data-target="#candidate_container" id='candidates_button' style='margin-top:5px;'>
            {% trans 'Display candidates' %}
          </button>  

        </div>

    </div>
  </div>

</div>

{% if not request.page or request.page == 1 %}
<div class="row collapse{% if request.GET.list %} in{%endif%}" id="candidate_container">
  <div class="span6">
    {% if candidate_list or candidates %}
      <h2>
      {% if candidate_list %}
        {% if candidates %}
          {% trans "Candidates in list" %}
        {% else %}
          {% trans "No candidate has registered yet in list" %}
        {% endif %}
        <a href="{% url 'candidate-list' candidate_list.id %}">
          {{candidate_list}}
        </a>
      {% else %}
        {% blocktrans with entity.name as place %}Mayor candidates in {{place}}{% endblocktrans %}
      {% endif %}
      {% if candidates %}
        ({{candidates.count}})
      {% endif %}
      </h2>
    {% endif %}
    {% for candidate in candidates %}
        <div onclick="window.location.href='{{ candidate.get_absolute_url }}'"
        class="candidate-avatar">
            {% avatar candidate 75 %}
            <h4>{{ candidate.get_full_name|default:candidate.username}}</h4>
            {% if not candidate_list and candidate.profile.candidate_list %}
            <p>{{ candidate.profile.candidate_list }}</p>
            {% endif %}
            {% with answers_count=candidate.answers.count %}
                {% include "qa/_answers_count.html" %}
            {% endwith %}
        </div>
      {% endfor %}
  </div>
  <div class="span6">
    <ul class="nav nav-pills nav-stacked">
      {% for list in candidate_lists %}
        {% if forloop.first %}
        <h2>
          {% blocktrans %}Candidate lists{% endblocktrans %} ({{ candidate_lists.count }})
        </h2>
        {% endif %}      
        <li class="candidate_list {% if list == candidate_list %}active{% endif %}">
        <a class="row" href="{% url 'candidate-list' list.id %}">
            <div class="candidate_list_detail ballot"
                 style="background: url('{{STATIC_URL}}img/white_note.png') no-repeat; ">
              {{ list.ballot }}
            </div>
            <div class="candidate_list_detail list_name">
              {{ list.name }}
            </div>
            <div class="candidate_list_detail answers_count">
              {% with answers_count=list.answers.count %}
                {% include "qa/_answers_count.html" %}
              {% endwith %}
            </div>
          </a>
        </li>
      {% endfor %}
      <li class="candidate_list" style="width:200px;
        {% if not candidate_list %}visibility:hidden;{% endif %}">
        <a href=".?list=mayor">
          <div class="candidate_list_detail ballot"
               style="background: url('{{STATIC_URL}}img/yellow_note.png') no-repeat; ">
            <div style="visibility:hidden">" "</div>
          </div>
          <h4 class="candidate_list_detail list_name">
            {% trans "Mayor candidates" %}
          </h4>
        </a>
      </li>

    </ul>
  </div>
</div>
{% endif %}
{# {% endcache %} #}
<div class="row questions-wrapper">
  <div class="span9 questions">
    {% if current_tags %}
    <ul class="nav nav-pills">
      <li><h4>{% trans "In the tags:"%}</h4></li>
      {% with tags=current_tags %}
       {% include "_tags.html" %}
      {% endwith %}
    </ul>
    {% endif %}
    {% if questions.count > 3 or only_flagged %}
    <ul class="nav nav-tabs">
      <li {% if by_rating %}class="active"{% endif %}>
        <a href=".?order=rating">{% trans "Top Questions" %}</a>
      </li>
      <li {% if by_date %}class="active"{% endif %}>
        <a href=".?order=date">{% trans "Most Recent" %}</a>
      </li>
      {% if user.is_staff or user.profile.is_editor %}
        <li {% if only_flagged %}class="active"{% endif %}>
          <a href=".?filter=flagged">{% trans "Flagged Questions" %}</a>
      </li>
      {% endif %}
    </ul>
    {% endif %}

    {% autopaginate questions 20 %}
    {% for question in questions %}
        {% with show_responders=True can_answer=False can_flag=False %}
        {% include "qa/_question.html" %}
        {% endwith %}
    {% endfor %}
    {% paginate %}
  </div>
  <div class="span3 sidebar">
    <div class="pull-right">
      <a id="post-question" class="btn btn-success btn-large" style="margin-top:0"
        href="{% url "post_question" entity.id %}" >
        {% trans "Ask Question" %}
      </a>
    </div>
    <h2>{% trans "Tags" %}</h2>
    <ul class="unstyled">
      {% include "_tags.html" %}
    </ul>
  </div>
</div>

{% endblock %}
{% block extrascript %}
  {% include "qa/_question_controls.js" %}
  <script>
    $(document).ready(function () {
        {% if request.GET.list %}
        $('#candidates_button').text("{%trans 'Hide candidates'%}")
        {% endif %}
        $('#candidate_container').on('shown', function () {
          $('#candidates_button').text("{%trans 'Hide candidates'%}")
        })
        $('#candidate_container').on('hidden', function () {
          $('#candidates_button').text("{% trans 'Display candidates' %}")
        })
        {% if not questions.exists %}
          $('#candidate_container').addClass('in');
          $('#candidates_button').text("{%trans 'Hide candidates'%}")
        {% endif %}

    });
</script>
{% endblock %}
