{% extends "qa/qa_base.html" %}
{% load i18n %}
{% load pagination_tags %}
{% load flatblock_tags %}
{% load avatar_tags %}

{% block pageTitle %}{% trans "questions list" %}{% endblock %}

{% block homeNav %}class="active"{% endblock %}
{% block content %}
<div class="page-header">
  <div class="container">
    <div class="row">
        <div class="span8">
          <h1>
            {{ entity }}
               {% if not current_tags %}
               <a href="{% url "atom_entity_questions" entity.id %}" title="{% trans 'Subscribe' %}" rel="tooltip">
                 <img src="{{STATIC_URL}}img/rss.png" width="25" />
               </a>
               {% endif %}
          </h1>
          <div id="cbs_data">
            <p><strong><span id="population"></span></strong> {% trans "Population" %}</p>
            {% if users_count %}
              <p><strong>{{users_count}}</strong> {% trans "Registered users" %} (<span id="usersPercent"></span> % {% trans "of Population" %})</p>
            {% endif %}
            {% if question_count %}
              <p><strong>{{question_count}}</strong> {% trans "Questions" %}</p>
            {% endif %}
            <p><strong><span id="councilSize"></span></strong> {% trans "Council seats" %}</p>
            {% if candidates_count %}
              <p><strong>{{candidates_count}}</strong> {% trans "Registered candidates" %} (<span id="candidateRate"></span> {% trans "population per candidate" %})</strong></p>
            {% endif %}
            {% if answers_rate %}
              <p><strong>{{answers_rate}}%</strong> {% trans "Answer rate" %}</p>
            {% endif %}
          </div>
          {% if need_editors %}
            <div class="well flatblock">
              {% flatblock "editors_needed" 9000 %}
            </div>
          {% elif not request.user.is_authenticated %}
            <div class="well flatblock">
              {% flatblock "welcome" 9000 %}
            </div>
          {% endif %}
        </div>
    </div>
  </div>
</div>
{% if not request.page or request.page == 1 %}
<div class="row">
  {% for candidate in candidates %}
    {% if forloop.first %}
      <h2>{% blocktrans with entity.name as place %}Candidates in {{place}} {% endblocktrans %}</h2>
    {% endif %}
      <div onclick="window.location.href='{{ candidate.get_absolute_url }}'"
      class="candidate-avatar">
        {% avatar candidate 75 %}
        <p>{{ candidate.get_full_name|default:candidate.username}}</p>
        {% if candidate.num_answers %}
        <p>{{ candidate.num_answers }} {% trans "answers" %}</p>
        {% endif %}
      </div>
  {% endfor %}
</div>
{% endif %}
<div class="row questions-wrapper">
  <div class="span9 questions">
    {% if current_tags %}
    <ul class="nav nav-pills">
      <li><h4>{% trans "In the tags:"%}</h4></li>
      {% with tags=current_tags %}
       {% include "_tags.html" %}
      {% endwith %}
    </ul>
    {% endif %}
    {% if questions.count > 3 or only_flagged %}
    <ul class="nav nav-tabs">
      <li {% if by_date %}class="active"{% endif %}>
        <a href=".?order=date">{% trans "Most Recent" %}</a>
      </li>
      <li {% if by_rating %}class="active"{% endif %}>
        <a href=".?order=rating">{% trans "Top Questions" %}</a>
      </li>
      {% if user.is_staff or user.profile.is_editor %}
        <li {% if only_flagged %}class="active"{% endif %}>
          <a href=".?filter=flagged">{% trans "Flagged Questions" %}</a>
      </li>
      {% endif %}
    </ul>
    {% endif %}

    {% autopaginate questions 20 %}
    {% for question in questions %}
        {% with show_responders=True %}
        {% include "qa/_question.html" %}
        {% endwith %}
    {% endfor %}
    {% paginate %}
  </div>
  <div class="span3 sidebar">
    {% if can_ask %}
    <div class="pull-right">
      <a id="post-question" class="btn btn-success btn-large" style="margin-top:0"
        href="{% url "post_question" %}" >
        {% trans "Ask Question" %}
      </a>
    </div>
    {% endif %}
    <div class="module" id="questions-count">
        <div class="summarycount al">{{question_count}}</div>
        <p>{% trans "Questions asked" %}</p>
    </div>
    <h2>{% trans "Tags" %}</h2>
    <ul class="unstyled">
      {% include "_tags.html" %}
    </ul>
  </div>
</div>
{% endblock %}
  {% block extrascript %}
  {% load staticfiles %}
    <script>

        
        function display_cbs(json) {
            totalpopulation = json["{{entity.code}}"].totalpopulation;
            councilSize = json["{{entity.code}}"].numofcouncilman;
            usersPercent = Math.round(({{users_count}}*100)/ totalpopulation);
            
            $('#population').text(totalpopulation);
            $('#usersPercent').text(usersPercent);
            if ({{candidates_count}}){
              candidateRate = Math.round(totalpopulation / {{candidates_count}});
            } else {
              candidateRate = '-';
            }
            $('#candidateRate').text(candidateRate);
            $('#councilSize').text(councilSize);
          }
          $.getJSON('{% static "js/entity_stats.js" %}', display_cbs)

    </script>
   
  {% endblock %}
