{% extends "email_base.html" %}
{% load i18n %}
{% load flatblock_tags %}

{% block content %}
  <p>
    אני נרגשת לבשר שמועמדת חדשה הצטרפה לשו"ת המקומי.
    אנא, כנסו ל<a href="{{ROOT_URL}}{{candidate.user.get_absolute_url}}">עמוד המועמד</a> וודאו שלא מדובר במתחזה
  </p>
  <p>
   רב תודות, השו"ת המקומי
  </p>
  <p style="font-size:80%;">
    קיבלתם עודעה זו כי אתם עורכים של {{candidate.locality.name}} באתר השו"ת המקומי, אם ברצונכם להפסיק להיות עורכים, 
    אתם מוזמנים לשלוח תשובה לדואל זה ולבקש להסירכם.
  <p>
{% endblock %}
