{% extends "email_base.html" %}
{% load i18n %}
{% load flatblocks %}

{% block content %}
  <p>
  אני מצטערת לבשר שאחד המשתמשים: {{reporter.get_full_name}}, הניף גדל אדום על השאלה: {{question}}
  </p>
  אם לדעתכם הדגל מוצדק, אנא כנסו ל<a href="{{ROOT_URL}}{{question.get_absolute_url}}">עמוד השאלה</a> ומחקו את השאלה.
  </p>
  <p>
   רב תודות, השו"ת המקומי
  </p>
  <p style="font-size:70%;">
    קיבלתם עודעה זו כי אתם עורכים של {{question.entity.name}} באתר השו"ת המקומי, אם ברצונכם להפסיק להיות עורכים, 
    אתם מוזמנים לשלוח תשובה לדואל זה ולבקש להסירכם.
  <p>
{% endblock %}
